<% provide(:title, "About") %>

<h1>About</h1>
<p>
O <a href="http://www.railstutorial.org/"><em> Ruby on RailsTutorial</em></a> esta
<a href="http://www.railstutorial.org/book">book</a> e
<a href="http://screencasts.railstutorial.org/">screencast series</a>
Para ensinar desenvolvimento web
<a href="http://rubyonrails.org/">Ruby on Rails</a>.
Essa é uma aplicação sample para o tutorial.
</p>
