<% provide(:title, "Help") %>

  <h1>Help</h1>
  <p>Consiga ajuda para  the Ruby on Rails Tutorial
<a href="http://www.railstutorial.org/#help">Rails Tutorial helpsection</a>.
Para ajuda com esse sample app, veja
<a href="http://www.railstutorial.org/book"><em>Ruby on Rails
Tutorial</em> book</a>.
  </p>
